.el--input--width{
    .el-form-item__label{
        padding: 0;
        text-align: left;
    }
    .el-input__inner{
        margin-left: 10px;
        width: 350px;
    }
    .el-card__body{
        padding: 0;
      }

}
// .el--background--height{
//     .el-card__body{
//         padding: 0;
//       }
// }